.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

body {
  font-family: "Lucida Handwriting";
}

h1 {
  margin: 20px;
}

.mainNav {
  background-color: #3b4a07;
}

.mainNavHeader {
  color: white;
}

.profileFormContainer {
  display: flex;
  margin-top: 20px;
}

.searchProfileFormContainer {
  display: flex;
  margin: 20px;
}

.profileForm {
  display: flex;
  flex-direction: column;
}

.navigationDesktop {
  background-color: #3b4a07;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 47.5px;
  align-items: center;
}

.navigationDesktop ul {
  display: flex;
  flex-wrap: wrap;
}

.navHeader {
  margin: 20px;
}

.navigationDesktop ul li {
  list-style-type: none;
}

.navigationDesktop ul li h3 {
  padding: 30px 20px 10px 20px;
  font-size: 20px;
}

.navigationDesktop ul li h3:hover {
  background-color: var(--lightgold);
}

.navigation {
  display: none;
}

.navHeader {
  font-size: 20px;
}

.navAndHeader {
  display: flex;
}

body,
button,
input,
select,
footer,
textarea {
  margin: 0;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}